body{
    padding: 0;margin: 0;
    background: black;
    
}
header{
    width: 70%;
    height: 100px;
    background: rgb(46, 46, 46);
    margin: 0 auto;
}
.head_wrapper{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: block;
    background: white;
    
    white-space: nowrap;
}
.head_elem{
    float: left;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 25%;
    display: inline-flex;
    
    position: relative;
    background: black;
    
}
.head_elem:hover{
    transition: all 1s ease;
    background: white;
}

main{
    background: grey;
    width: 70%;
    margin: 0 auto;
}

footer{
    height: 500px;
    margin: 0 auto;
    width: 70%;
    background: rgb(46, 46, 46);
}
.foot_wrapper{
    margin: 0 auto;
    width: 70%;
    height: 100%;
    
}



.ad{
    position: fixed;
    width: 15%; height: 100%;
    background: black;
    display: block;
    left:0;
    cursor: pointer;
}
.ad:hover,.ad_right:hover{
    transition: all 1s ease;
    background: white;

}
.ad_right{
    position: fixed;
    right: 0;
    width: 15%;
    height: 100%;
    background: black;
    display: block;
    cursor: pointer;
}
.in_1{
    
    border: 1px black dashed;
    text-align: center;
}
.info{
    
    width: 215px;
    display: block;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
    background: white;

}
.info::-webkit-scrollbar{
    width: 10px;
    

}
.info::-webkit-scrollbar-thumb{
    background: white;

}
.info::-webkit-scrollbar-track{
    background: black;
}


.info_cont{
    background: grey;
    width: 100%;

}
.info_show{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    
}
.img_profile{
    
    
    width: 100px;
    height: 100px;
}
.form_inf{
    display: inline-block;
    border: 1px blanchedalmond dashed;
    width: 100px;
    
}
button.btns{
margin: 0 auto;

width: 100%;
    
}
.form_add_show_btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding: 15px;
    display: block;
    background: hotpink;
    cursor: pointer;
    width: 50px;
}

.form_add{
    display: none;
    border: 3px black dashed;
    position: fixed;
    left: 0;top: 0;right: 0;bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    background: grey;
}

input.input_form_add{
    position: absolute;
    left: 0;right: 0;
    padding: 10px;
    top:200px;
    
    display: block;
    margin: 0 auto;
    border: 0;
    outline: none;
}
.btns_form1{
    position: absolute;
    bottom: 10px;
    left: 0; right: 0;
}
button.form_btns{

    margin: 20px;
}
input[type="text"]{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
div#hide_form_add{
    
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    background: white;    
}
